<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>DevHelpLogo-Large.icns</string>
    <key>CFBundleIdentifier</key>
    <string>eu.i07.DevHelp</string>
    <key>CFBundleDisplayName</key>
    <string>DevHelp</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>DevHelp</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.1-SNAPSHOT</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>JVMRuntime</key>
    <string>JRE</string>
    <key>JVMRuntimePath</key>
    <string>Contents/Plugins/JRE/Contents/Home/jre</string>
    <key>JVMMainClassName</key>
    <string>eu.i07.DevHelp</string>
    <key>JVMClassPaths</key>
    <array>
      <string>eu/i07/0.0.1-SNAPSHOT/i07-0.0.1-SNAPSHOT.jar</string>
      <string>org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar</string>
      <string>org/apache/logging/log4j/log4j-core/2.8.2/log4j-core-2.8.2.jar</string>
      <string>org/apache/logging/log4j/log4j-api/2.8.2/log4j-api-2.8.2.jar</string>
      <string>org/slf4j/slf4j-log4j12/1.7.25/slf4j-log4j12-1.7.25.jar</string>
      <string>log4j/log4j/1.2.17/log4j-1.2.17.jar</string>
      <string>com/sparkjava/spark-core/2.5.5/spark-core-2.5.5.jar</string>
      <string>org/eclipse/jetty/jetty-server/9.3.6.v20151106/jetty-server-9.3.6.v20151106.jar</string>
      <string>javax/servlet/javax.servlet-api/3.1.0/javax.servlet-api-3.1.0.jar</string>
      <string>org/eclipse/jetty/jetty-http/9.3.6.v20151106/jetty-http-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/jetty-util/9.3.6.v20151106/jetty-util-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/jetty-io/9.3.6.v20151106/jetty-io-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/jetty-webapp/9.3.6.v20151106/jetty-webapp-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/jetty-xml/9.3.6.v20151106/jetty-xml-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/jetty-servlet/9.3.6.v20151106/jetty-servlet-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/jetty-security/9.3.6.v20151106/jetty-security-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/websocket/websocket-server/9.3.6.v20151106/websocket-server-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/websocket/websocket-common/9.3.6.v20151106/websocket-common-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/websocket/websocket-client/9.3.6.v20151106/websocket-client-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/websocket/websocket-servlet/9.3.6.v20151106/websocket-servlet-9.3.6.v20151106.jar</string>
      <string>org/eclipse/jetty/websocket/websocket-api/9.3.6.v20151106/websocket-api-9.3.6.v20151106.jar</string>
      <string>com/teamdev/jxbrowser/jxbrowser-mac/6.9/jxbrowser-mac-6.9.jar</string>
      <string>com/teamdev/jxbrowser/jxbrowser/6.9/jxbrowser-6.9.jar</string>
      <string>com/sparkjava/spark-template-freemarker/2.3/spark-template-freemarker-2.3.jar</string>
      <string>org/freemarker/freemarker/2.3.19/freemarker-2.3.19.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.6+</string>
    <key>JVMOptions</key>
    <array>
            <string>-Dapple.laf.useScreenMenuBar=true</string>
            <string>-Dapple.awt.UIElement=true</string>
      <string>-Xdock:name=DevHelp</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>/Contents/Java</string>
  </dict>
</plist>
