@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* label underline focus color */
.input-field input[type=text]:focus {
   border-bottom: 1px solid #2196f3;
   box-shadow: 0 1px 0 0 #2196f3;
}
 
.tabs .indicator {
	background-color: #2196f3 !important;
}

body {
	font-family: "Lato";
	background-color: #FFFFFF;
	overflow: hidden;
}

#wrapper {
  	width:550px;
  	max-width:550px;
  	height: 800px;
  	overflow: hidden;
}

.devhelp-logo img {
	height: 57px;
    position: absolute;
    padding: 5px;
}

.devhelp-title {
	padding-left: 60px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-table;
    line-height: 14px;
    position: absolute;
    padding-top: 14px;
}

.devhelp-url {
	font-size:10px;
	text-transform: lowercase;
}

.dh_tooltip {
    width: 70px;
    position: relative;
    float: left;
    display: block;
    margin-top: 14px;
    text-align: center;
    padding: 8px;
    background-color: #2196f3;
    color: #FFFFFF;
    display:none;
    font-size:11px;
}

#timestamp:hover, #current_date:hover {
    cursor: cell;
}