@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* label underline focus color */
.input-field input[type=text]:focus {
   border-bottom: 1px solid #2196f3;
   box-shadow: 0 1px 0 0 #2196f3;
}
 
.picker__date-display, .picker__weekday-display{
 	background-color: rgba(66, 133, 244, 0.79);
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
   background-color: rgba(66, 133, 244, 0.79);
}

button.picker__today, button.picker__close {
   color: rgba(66, 133, 244, 0.79);
}
 
.picker__date-display, .picker__weekday-display{
    background-color: #2196f3;
}

body {
	font-family: "Lato";
	background-color: #FFFFFF;
	overflow: hidden;
}

#wrappez {
  	width:550px;
  	max-width:550px;
  	height: 800px;
  	overflow: hidden;
}

#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	height:44px;
	background-color:#EFEFEF;
}

#main-logo {
	padding: 4px;
	width: 150px;
}

#gui {
	position:relative;
	left:0;
	right:0;
	top:0;
    max-width: 550px;
}

#setting-button {
	
	position: absolute;
	right: 3px;
	top: 3px;
	
}

#reload-button {
	position: absolute;
	right: 55px;
	top: 3px;
}

.dh_tooltip {
    width: 70px;
    position: relative;
    float: left;
    display: block;
    margin-top: 14px;
    text-align: center;
    padding: 8px;
    background-color: #2196f3;
    color: #FFFFFF;
    display:none;
    font-size:11px;
}

#timestamp:hover {
    cursor: cell;
}